{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div id="search-bar" class="input-group pt-3 pb-5">
        <button type="button" class="btn btn-primary dropdown-toggle rounded-0" data-bs-toggle="dropdown" id="backbone-dropdown-button">关键词查询</button>
            <div class="dropdown-menu dropdown-menu-macos mx-0 shadow">
                <li><h6 class="dropdown-header">查询方式</h6></li>
                <li><a class="dropdown-item" href="#">关键词查询</a></li>
                <li><a class="dropdown-item" href="#">类案查询</a></li>
            </div>

        <!-- flex-grow-1 makes the first element under this div take up as much space as it can, remaining necessary space for other elements -->
        <div class="form-floating flex-grow-1">
            <!-- the placeholder is necessary here for the floating label to work -->
            <textarea class="form-control border-primary rounded-0" id="search-query" placeholder="placeholder"></textarea>
            <label for="search-query">查询：</label>
        </div>
        <button class="btn btn-primary rounded-0" type="submit" id="search-button">
            搜索
        </button>
    </div>
</div>

<div id="background" class="background">
    <!-- donot use django template here because ajax is designed to async returning data, while template is used to refresh the entire page -->
    <div class="horizontal-align-content">
        <div class="" style="width: 25%; margin-left: 20px; margin-right: 70px;" id="search-facets">
        </div>
        <div class="" style="width: 90%; margin-right: 20px" id="search-results">
        </div>
    </div>

    <nav>
        <ul id="page-bar" class="pagination justify-content-center">
        </ul>
    </nav>
</div>


<script>

    // declare hits in the global scope because we want to paginate over the hits
    // these are returned from the server side
    let hits = []
    let aggregations = {}
    // number of all hitted documents
    let total = 0
    // time taken in seconds
    let took = 0

    // these are assigned on the client side (script)
    let query = ""
    let backbone = ""
    let facets = []
    let current_page = 1
    let max_page = 5

    // these are pre-defined parameters
    let max_doc_num_per_page = 20
    // map the english field name to chinese when displaying on the facet bar
    let agg_field_dict = {
        "court_name": "法院名称",
        "case_type": "案件类型",
        "trial_round": "审理轮数",
        "cause": "缘由",
        "pub_prosecution_org": "审理机关名称"
    }


    $(".dropdown-item").click(function(){
        // set the text of backbone-dropdown-button by the clicked backbone
        $("#backbone-dropdown-button").text($(this).text())
    })


    $("textarea").keydown(function(event){
        // press enter key to search
        // disable creating new line when pressing enter key
        // to create new line, use shift+enter
        if (event.keyCode == 13 && !event.shiftKey)
        {
            // prevent default behavior
            event.preventDefault();
            $("#search-button").click();
        }
    });


    $("#search-button").click(function(){
        // unfocus the textarea and the button
        $("#search-query").blur()
        $("#search-button").blur()

        search(
            () => {refresh_facets(); display_pages()}
        )
    })


    function search(callback=null, data=null) {
        // send search post loading parameters from global variables
        // if success, refresh search results and call extra callback functions

        // default data
        if (!data){
            data = {
                query: $("#search-query").val(),
                backbone: $("#backbone-dropdown-button").text(),
                size: max_doc_num_per_page,
                from: (current_page - 1) * max_doc_num_per_page,
                facets: facets
            }
        }

        console.log(data)

        $.ajax("{% url 'search-main' %}", {
            type: "POST",
            data: JSON.stringify(data),
            success: function(response){

                // update results and facets
                hits = response["hits"]
                aggregations = response["aggregations"]
                // use the total number of possible hits to compute maximum page number
                max_page = Math.ceil(response["total"] / max_doc_num_per_page)
                total = response["total"]
                took = response["took"]

                console.log(response)
                refresh_search_results()
                // refresh_facets()

                if (callback) {
                    callback()
                }
            }
        })
    }


    function refresh_search_results() {
        // reset the height of the textarea
        // $("#search-query").height("")

        // remove all previous searched documents
        $("#search-results").html("")
        // scroll to the top of the page
        document.documentElement.scrollTop = 0

        if (hits.length){
            $("#background").addClass("p-4")

            let efficiency_bar = `<span><em style="font-size:smaller; color: grey;">about ${total} results in ${took}s</em></span>`
            $("#search-results").append(efficiency_bar)

            // display hits in the search-results container
            for (hit of hits){
                // here we must use the url string instead of the url name because it contains parameters
                let frame = `<div class="search-result border border-light-5 rounded-4 p-2 mb-2">
                                <button class="download-button">
                                    <a href="download/${hit._id}/" download><i class="fa fa-download"></i></a>
                                </button>
                                <a class="text-decoration-none" href="detail/${hit._id}/", target="_blank">${hit.case_name}</a>
                                <p class="mb-1">${hit.content}</p>
                                <div class="d-flex justify-content-between">
                                    <span><small><em>${hit.court_name}</em></small></span>
                                    <span class="float-end"><small><em>${hit.publish_date}</em></small></span>
                                </div>
                            </div>`//.replace('/n','')
                $("#search-results").append(frame)
            }
        }
    }


    function refresh_facets() {
        // display facets
        $("#search-facets").html("")

        if (aggregations){
            for ([agg_name, agg] of Object.entries(aggregations)) {
                const agg_array = agg_name.split("-")
                agg_type = agg_array[1]
                agg_field = agg_array[2]
                // one unique term for one bucket
                if (agg_type == "terms") {
                    // the field of the aggregation
                    buckets = agg["buckets"]
                    if (buckets.length > 0){
                        // create the big div containing all the buckets of the terms aggreagtion
                        // display by checkboxes
                        let div = `<div id="facet-${agg_name}" class="mb-4"><strong>${agg_field_dict[agg_field]}:</strong></div>`
                        $("#search-facets").append(div)

                        for (let i = 0; i < buckets.length; i++) {
                            bucket = buckets[i]

                            key = bucket["key"]
                            count = bucket["doc_count"]
                            name = agg_name

                            let checkbox = `<div class="form-check">
                                                <input class='form-check-input' type="checkbox" id="${name}-${i}" onclick="process_facets(this)">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-check-label" for="${name}-${i}"><small>${key}</small></label>
                                                    <span><small><em>${count}</em></small></span>
                                                </div>
                                            </div>`

                            $(`#facet-${agg_name}`).append(checkbox)
                        }
                    }
                }
            }
        }
    }


    function display_pages() {
        // initialize page display when displaying search results

        let pre_page = `<li class="page-item disabled">
                            <button class="page-link" onclick="process_pages(this)">Previous</button>
                        </li>`
        let current_page = `<li class="page-item">
                            <button class="page-link" onclick="process_pages(this)">Next</button>
                        </li>`

        $("#page-bar").html("")
        if (hits.length){
            $("#page-bar").append(pre_page)
            // limit the page bar to length of 5
            for (let i = 1; i <= Math.min(max_page, 5); i ++){
                let page = `<li class="page-item"><button class="page-link" onclick="process_pages(this)">${i}</button></li>`
                $("#page-bar").append(page)
            }
            $("#page-bar").append(current_page)

            // default to activate the first page
            $(`#page-bar > li:eq(1)`).addClass("active")
            // if there is only one page, disable the next button also
            if (max_page == 1){
                $(`#page-bar > li:eq(-1)`).addClass("disabled")
            }
        }
    }


    function process_facets(elem) {
        elem.blur()

        // capture all selected facets and return them in the elastic query format
        let all_aggs = $("#search-facets > div")
        // empty previous facets
        facets = []

        for (agg of all_aggs){
            id = agg.id
            agg_array = id.split("-") // facet-agg-term-case_name
            agg_type = agg_array[2]
            agg_field = agg_array[3]

            console.log(agg_type)

            // term aggregation corresponds to checkbox
            if (agg_type == "terms"){
                let terms_facet = new Object()
                let checks = $(`#${id} :input:checked`)

                // if no box is checked, skip this facet
                if (checks.length == 0) {
                    continue
                }
                else{
                    let checked_labels = new Array()
                    for (check of checks){
                        var check = $(check)
                        let checked_label = $("label[for='"+check.attr('id')+"']").text()
                        checked_labels.push(checked_label)
                    }
                    // use terms filter for term aggregation
                    terms_facet["terms"] = {
                        [agg_field]: checked_labels
                    }
                    facets.push(terms_facet)
                }
            }
        }

        // reset current page to 1
        current_page = 1
        search(
            () => {display_pages()}
        )
    }


    function process_pages(elem) {
        // triggered when clicking any page button
        // activate the clicked page item, disable others
        elem.blur()

        clicked_page = $(elem).text()
        // previous page is the old page idx
        previous_page = parseInt($("#page-bar > .page-item.active > button").text())
        // modify the global current page parameter
        if (clicked_page == "Next"){
            current_page = previous_page + 1
        }
        else if (clicked_page == "Previous"){
            current_page = previous_page - 1
        }
        else{
            current_page = parseInt(clicked_page)
        }

        // reset activation status of the previous and next button
        $("#page-bar > .page-item.active").removeClass("active")

        // first enable the next and previous button
        // then disable neither or either or both of them based on page idx
        $(`#page-bar > li:eq(0)`).removeClass("disabled")
        $(`#page-bar > li:eq(-1)`).removeClass("disabled")
        if (current_page == 1){
            $(`#page-bar > li:eq(0)`).addClass("disabled")
        }
        if (current_page == max_page){
            $(`#page-bar > li:eq(-1)`).addClass("disabled")
        }

        // i indicates the absolute page idx
        // page_box_idx indicates the idx of the page box
        // make sure the page doesn't overflow
        let page_box_idx = 1
        for (let i = Math.min(current_page - 2, max_page - 4); i <= max_page; i ++){
            if (page_box_idx > 5){
                break
            }

            if (i > 0){
                $(`#page-bar > li:eq(${page_box_idx}) > button`).text(`${i}`)
                // here we activate the proper page box
                if (i == current_page){
                    $(`#page-bar > li:eq(${page_box_idx})`).addClass("active")
                }
                page_box_idx ++
            }
        }

        search()
    }


</script>
{% endblock %}
