{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">{{ message }}</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')
</script> -->


<div class="container">
  <div class="row">
    <div class="col-3 bg-primary">test
    </div>
    <div class="col-9 bg-primary">new-test
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 bg-primary">test
    </div>
    <div class="col-md-9 bg-primary">new-test
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 bg-primary">test
    </div>
    <div class="col-sm-9 bg-primary">new-test
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 bg-primary">test
    </div>
    <div class="col-lg-9 bg-primary">new-test
    </div>
  </div>

</div>


{% endblock %}
