{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <div class="d-flex flex-column" style="height: 100vh;">
                <div style="min-height: 12vh;">
                    <h4>查询</h4>
                </div>
                <hr>
                <div class="flex-grow-1 no-scroll-bar" id="query-block">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column" style="height: 100vh;">
                <div style="min-height: 12vh;">
                    <h5>{{ candidate_source.case_name }}</h5>
                    <h6><em>{{ candidate_source.case_id }}</em></h6>
                </div>
                <hr>
                <div class="flex-grow-1 no-scroll-bar" id="candidate-block">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // parse the contexts
    let query_sents = JSON.parse("{{ query_sents|escapejs }}")
    let candidate_sents = JSON.parse("{{ candidate_sents|escapejs }}")
    let connected_components = JSON.parse("{{ connected_components|escapejs }}")    // [([1,2,3], [0,5,6]), ...]
    let previous_node = null

    // palette for the matched text
    let palettes =[["#FFFFCC", "#FFFF00"], ["#CCFFFF", "#CCCCFF"], ["#FFCCCC", "#CCCCCC"], ["#FFCC99", "#FF9900"], ["#CCFFCC", "#CCCC33"]]

    // place the function here instead of $(document).ready, otherwise the span cannot be selected by jquery
    for (sent of query_sents){
        $("#query-block").append(`<span>${sent}</span> `)
    }

    for (sent of candidate_sents){
        $("#candidate-block").append(`<span>${sent}</span>`)
    }

    let i = 0
    // initialize all matching
    // store the edges in the DOM
    for (connected_component of connected_components) {
        query_sent_indices = connected_component[0]
        candidate_sent_indices = connected_component[1]

        for (query_sent_index of query_sent_indices) {
            query_span = $(`#query-block > span:eq(${query_sent_index})`)
            query_span.css({"background-color": palettes[i][0], "cursor": "pointer"})
            query_span.attr("data-palette-index", i);
            query_span.attr("data-connected-query", JSON.stringify(query_sent_indices))
            query_span.attr("data-connected-candidate", JSON.stringify(candidate_sent_indices))
        }
        for (candidate_sent_index of candidate_sent_indices) {
            candidate_span = $(`#candidate-block > span:eq(${candidate_sent_index})`)
            candidate_span.css({"background-color": palettes[i][0], "cursor": "pointer"})
            candidate_span.attr("data-palette-index", i);
            candidate_span.attr("data-connected-query", query_sent_indices)
            candidate_span.attr("data-connected-candidate", candidate_sent_indices)
        }

        i += 1
    }

    $("span").click(function () {
        // de-highlight last clicked query
        if (previous_node) {
            update_highlight(previous_node)
            previous_node = null
        }
        update_highlight($(this), 1)
    });

    function update_highlight(node, highlight_level=0) {
        palette_index = node.data("palette-index")
        query_sent_indices = node.data("connected-query")
        candidate_sent_indices = node.data("connected-candidate")

        if (palette_index == undefined) {
            return
        }

        // update the entire connected component when they are matched
        for (query_sent_index of query_sent_indices) {
            query_span = $(`#query-block > span:eq(${query_sent_index})`)
            query_span.css({"background-color": palettes[palette_index][highlight_level]})
        }
        for (candidate_sent_index of candidate_sent_indices) {
            candidate_span = $(`#candidate-block > span:eq(${candidate_sent_index})`)
            candidate_span.css({"background-color": palettes[palette_index][highlight_level]})
        }

        if (highlight_level > 0) {
            previous_node = node
        }
    }

</script>

{% endblock %}